$main-color: #FFA451;
$text-color: #27214D;
$main-font: 'Josefin Sans', sans-serif;

.launch_img{
    background-color: $main-color;
    height: 90%;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 469px;
    text-align: center;

    .fruit_sm{
        position: relative;
        text-align: end;
        right: 40px;
        bottom: -20px;
        padding-top: 20%;
        
    }
    .fruit_bg{
        width: 301px;
        height: 260px;
    }
}
.bottom{
    text-align: center;

.bottom_title{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.01em;
    color: #27214D;
    margin-top: 15%;
    text-align: center;  
    margin-left: 25px;  
}

.bottom_subtitle{
    margin-top: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #5D577E;
    margin-right: 20%;
    text-align: start;
    margin-left: 24px;
      
}

.btn_start{
    color: white;
    background-color:$main-color;
    border: none;
    width: 327px;
    height: 56px;
    border-radius: 10px;
    margin-top: 15%;
    text-align: center;
}

.btn_start_ordering{
    color: white;
    background-color:$main-color;
    border: none;
    width: 327px;
    height: 56px;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    
}

.input_default{
    background-color: #F3F1F1;
    border: none;
    width: 327px;
    height: 56px; 
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
}

}

/* ORDER LIST */
.header{
    background-color: $main-color;
    width: 100%;
    height: 100px;
        .go_back{
            background-color: white;
            text-align: center;
            border: none;
            border-radius: 30px;
            font-weight: 300;
            font-size: 16px;
            color: #27214D;
            margin: 28px 24px 40px 20px;
        }

        .header_text{
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            margin-top: 10%; 
            font-weight: 500;
            font-size: 22px;
            display: inline-block;
            
            
        }
    }
    
    .order_list{
        .item_outline{
            width: 64px;
            height: 65px;
            display: inline-block;
            margin-right: 16px;
            margin-top: 32px;
            margin-left: 24px;
            text-align: center;
            background-color: #F1EFF6;
            border-radius: 20px;

            .item_img{
                padding-top: 10%;
                margin: 15%;
                background-color: #F1EFF6;
            }
        }
        .item_info{
            height: 80px;
            margin-right: 20px;
            text-align: start;
            display: inline-block;
            font-family: $main-font;
            font-weight: 500;
            font-size: 16px;
            width: 150px;
            
            .item_title{
                margin-top: 49px;
                
                
            }
            .item_subtitle{
                padding-top: 4px;
                text-align: start;
                font-size: 14px;
            }
        }
        .price{
            margin-top: 61px;
            display: inline-block;
            font-family: $main-font;
            font-weight: 700;
            font-size: 16px;
            color: #27214D;
            
            
        }   
    }

.footer{
    display: inline-block;
    vertical-align: top;
    margin: 237px 25px 61px 25px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    
    
    h3{
        display: inline-block;
        font-size: 24px;
        color: #27214D;

    }
    
}

    .btn_checkout{
        color: white;
        background-color:$main-color;
        border: none;
        width: 199px;
        height: 56px;
        border-radius: 10px;
        text-align: center;
        background-color: $main-color;
        text-align: center;
        margin-top: 237px;
    }

    /*COMPLETE_DETAILS*/

   .address{
        width: 100%;
        height: 406px;
        border-radius: 20px;
        padding-top: 40px;
        
        .address_info{            
            font-family: $main-font;
            font-weight: 400;
            font-size: 20px;
            color: $text-color;
            margin: 0px 225px 29px 24px;        
            
        }
        .input_default{
            background-color: #F3F1F1;
            border: none;
            width: 303px;
            height: 56px; 
            border-radius: 10px;
            padding-left: 24px;
            margin: 24px 0;
        }

        .btn_payment_delivery{
            border: 2px solid;
            width: 125px;
            height: 56px;
            margin-left: 24px;
            margin-right: 80px;
            border-color: $main-color;
            color: $main-color;
            border-radius: 15px;
            background-color: white;   
            
            
        }
        
        .btn_payment_card{
            border: 2px solid;
            width: 125px;
            height: 56px;
            border-color: $main-color;
            color: $main-color;
            border-radius: 15px;
            background-color: white;  
        }

}

/*ORDER_COMPLETE*/

.outside_circle{
    width: 164px;
    height: 164px;
    border: 3px solid;
    background-color: #E0FFE5;
    border-color: #4CD964;
    border-radius: 50%; 
   
    margin: 154px 0 56px 98px;

    .check_circle{
        background-color: #4CD964;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 32px;
        .check{
            padding: 32px;
        }
    }
}

.congratulations{
    font-family: $main-font;
    color: $text-color;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

.congratulations_subtitle{
    font-family: $main-font;
    color: $text-color;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin: 0 72px 62px 56px;
    line-height: 25px;
}

.btn_track_order{
        color: white;
        background-color:$main-color;
        font-family:  $main-font;
        font-weight: 500;
        font-size: 16px;
        margin-left: 121px;
        margin-bottom: 48px;
        border: none;
        width: 133px;
        height: 56px;
        border-radius: 10px;
        background-color: $main-color;
}

.btn_continue_shopping{
            border: 2px solid;
            width: 181px;
            height: 56px;
            border-color: $main-color;
            margin-left: 98px;
            color: $main-color;
            border-radius: 15px;
            background-color: white;  
}

//INPUT CARD DETAILS

.payment{
    width: 100%;
    height: 406px;
    border-radius: 20px;
    padding-top: 40px;
    .payment_info{
            font-family: $main-font;
            font-weight: 400;
            font-size: 20px;
            color: $text-color;
            margin: 0px 0 29px 24px; 
            display: inline-block;
        .input_default{
            background-color: #F3F1F1;
            border: none;
            width: 303px;
            height: 56px; 
            border-radius: 10px;
            padding-left: 24px;
            margin: 24px 0;
        }
            .input_date{
                display: inline-block;
                margin-right: 27px;
            }
            .input_cvv{
                display: inline-block;
            }
        
            .input_short{                
                background-color: #F3F1F1;
                border: none;
                width: 114px;
                height: 56px; 
                border-radius: 10px;
                padding-left: 24px;
                display: inline-block;
                margin-top: 16px;
            
            
        }
    }
    
    .complete_order{
        width: 100%;
        height: 96px;
        text-align: center;
        background-color: $main-color;
        border-radius: 20px;
    }
    .btn_complete_order{
            border: 2px solid;
            width: 125px;
            height: 56px;
            border-color: $main-color;
            color: $main-color;
            border-radius: 15px;
            background-color: white;  
            margin: 20px 120px 18px 120px;
    }
}

//track_order
.order_update:nth-child(2){
    margin-top: 40px;
}
.order_update {
    margin-left: 24px;
    .img_background{
        width: 65px;
        height: 65px;
        background-color: #F1EFF6;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;

        .check_background_md{
            background-color: #4CD964;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 12px;
            .check_md{
                margin-top: 14px;
            }
        }
        .order_icon{
            margin: 10px;
        }
    }
    
    .order_status_title{
        font-family: $main-font;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle; 
        width: 200px;
        margin-left: 21px;
        line-height: 20px;
        
        .order_subtitle{
            font-family: $main-font;
            font-weight: 400;
            font-size: 11px;
        }
    }

    .check_icon_div{
        display: inline-block;
        margin-left: 10px;
        
        }
        .check_background{
            text-align: center;
            width: 24px;
            height: 24px;
            background-color: #4CD964;
            border-radius: 50%;
            
            .check_sm_icon{
                margin-top: 8px;
            }
        }
    }
    .phone_icon_div{
        display: inline-block;
        margin-left: 10px;
        .phone_background{
            text-align: center;
            width: 40px;
            height: 40px;
            background-color: #FFA451;
            border-radius: 50%;
            
            .phone_sm_icon{
                margin-top: 10px;
            }
        }
    }
.map{
    margin-left: 24px;
}

.dashes:nth-child(7){
    height: 19px;
}

.dashes{
    width: 0px;
    height: 40px;
    border: 1px dashed #FFA451;
    margin-left: 56px;
}


//splash screen

.img_logo{
   margin-top: 259px;
   margin-left: 95px;
}

//HOME

.menu_basket{
    margin-top: 88px;
    .icon_menu{
        display: inline-block;
        margin-left: 24px;
        margin-right: 264px;
    }
    .icon_basket{
        display: inline-block;
    }
}

.home_title{
    margin-top: 24px;
    margin-left: 24px;
    width: 257px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #27214D;
}

.input_search{
    background-color: #F3F4F9;
    width: 288px;
    height: 58px;
    margin-left: 21px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 16px;
    margin-top: 24px;
    .input_icon{
        padding-top: 20px;
        padding-left: 24px;
            .input_default_md{
                background-color: #F3F4F9;
                border: none;
                width: 80%;
                margin-left: 16px;
            }
    }
}

.recommended_combo{
    font-family: $main-font;
    font-weight: 500;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 40px;
    color: $text-color;
}

.card_default{
    width: 152px;
    height: 183px;
    border-radius: 10px;
    margin-top: 24px;
    margin-left: 24px;
    display: inline-block;    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card_image{
    margin-left: 32px;
    margin-top: 22px;
}
.card_favourite{
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
.card_title{
    font-family: $main-font;
    color: $text-color;
    font-weight: 600;
    font-size: 14px;
    margin-left: 12px;
    margin-top: 8px;
}
.card_price_info{
    color: #F08626;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: 6px;
    left: 12px;
}
.card_more_info{
    display: inline-block;
    margin-top: 10px;
    margin-left: 58px;
}

.subclasses{
    margin-top: 48px;
    .subitems{
        display: inline-block;
        font-family: $main-font;
        font-weight: 500;
        font-size: 16px;
        color: #938DB5;
        margin-left: 20px;
    }
}
.subitems:first-child{
    font-family: $main-font;
    color: $text-color;
    font-weight: 500;
    font-size: 24px;
}

.orange_line{
    background-color: $main-color;
    width: 22px;
    height: 2px;
    margin-left: 21px;
    margin-bottom: 24px;
}

.container {    
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    .card_short{
        width: 140px;
        height: 150px;
        border-radius: 15px;
        display: inline-block;
        margin-right: 16px;
        
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        .card_image{
            margin-left: 5%px;
        }
        .card_favourite{
            float: right;
            margin-right: 15px;
            margin-top: 20px;
        }
        .card_more_info{
            margin-left: 50px;
        }
    }
    
}


*:focus {
    outline: none;
}

//ADD TO BASKET
.header_basket{
    background-color: $main-color;
    width: 100%;
    height: 314px;
    .go_back{
        background-color: white;
        text-align: center;
        border: none;
        border-radius: 30px;
        font-weight: 300;
        font-size: 16px;
        color: #27214D;
        margin: 28px 24px 10px 20px;
    }

    .header_text{
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        margin-top: 10%; 
        font-weight: 500;
        font-size: 22px;
        display: inline-block;
        
        
    }
    .img_center{
        text-align: center;
    
        .img_food{
            width: 306px;
            height: 204px;
          }
    }
}
.img_center{
    text-align: center;

    .img_food{
        width: 306px;
        height: 204px;
      }
}

.add_info{
    background-color: white;
    border-radius: 20px 20px;
    .food_name{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.01em;
        color: #27214D;
        left: 25px;
        padding-top: 10%;
        margin-top: 5%;
        position: relative;
    }
    .quantity_price{
        display: inline-block;
        margin-top: 5%;
        position: relative;
        left: 25px;
    }
}

.food_title{
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.01em;
    color: #27214D;
    margin-top: 15%;
    text-align: center;
    position: relative;
    left: 25px;
    
}

.food_subtitle{
    margin-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #5D577E;
    position: relative;
    left: 24px;
    margin-right: 20%;
    text-align: start; 
}

.food_about{
    margin-top:10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.01em;
    color: black;
    position: relative;
    left: 24px;
    margin-right: 20%;
    text-align: start; 
}

.add_basket{
    display: inline-block;
    margin-left: 5%;
    margin-top: 43px;
    .add_basket_icon{
        float: left;
    }

    .card_favourite{
        width: 25px;
        height: 25px;
        position: relative;
        bottom: 10px;
        margin-right: 94px;
    }
    .btn_order{
        color: white;
        background-color: #FFA451;
        border: none;
        width: 200px;
        height: 56px;
        border-radius: 10px;
    }
}



.order_quantity{
    
    border-radius: 50%;
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.order_quantity:active{
    border-radius: 50%;
    border: 1px solid;
    border-color: black;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #FFA451;
    background-color: #FFF2E7;
    border: none;
}

.order_price{
    font-family: $main-font;
    color: $text-color;
    display: inline-block;
    margin-left: 130px;
    font-weight: 500;
    font-size: 24px;
}

.order_items{
    border: none;
    text-align: center;
    font-size: 25px;
    width: 30px;
    border: none;
    outline: none;
}
