.launch_img {
  background-color: #FFA451;
  height: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 469px;
  text-align: center;
}

.launch_img .fruit_sm {
  position: relative;
  text-align: end;
  right: 40px;
  bottom: -20px;
  padding-top: 20%;
}

.launch_img .fruit_bg {
  width: 301px;
  height: 260px;
}

.bottom {
  text-align: center;
}

.bottom .bottom_title {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: -0.01em;
  color: #27214D;
  margin-top: 15%;
  text-align: center;
  margin-left: 25px;
}

.bottom .bottom_subtitle {
  margin-top: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #5D577E;
  margin-right: 20%;
  text-align: start;
  margin-left: 24px;
}

.bottom .btn_start {
  color: white;
  background-color: #FFA451;
  border: none;
  width: 327px;
  height: 56px;
  border-radius: 10px;
  margin-top: 15%;
  text-align: center;
}

.bottom .btn_start_ordering {
  color: white;
  background-color: #FFA451;
  border: none;
  width: 327px;
  height: 56px;
  border-radius: 10px;
  margin-top: 5%;
  text-align: center;
}

.bottom .input_default {
  background-color: #F3F1F1;
  border: none;
  width: 327px;
  height: 56px;
  border-radius: 10px;
  text-align: center;
  margin-top: 5%;
}

/* ORDER LIST */
.header {
  background-color: #FFA451;
  width: 100%;
  height: 100px;
}

.header .go_back {
  background-color: white;
  text-align: center;
  border: none;
  border-radius: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #27214D;
  margin: 28px 24px 40px 20px;
}

.header .header_text {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin-top: 10%;
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
}

.order_list .item_outline {
  width: 64px;
  height: 65px;
  display: inline-block;
  margin-right: 16px;
  margin-top: 32px;
  margin-left: 24px;
  text-align: center;
  background-color: #F1EFF6;
  border-radius: 20px;
}

.order_list .item_outline .item_img {
  padding-top: 10%;
  margin: 15%;
  background-color: #F1EFF6;
}

.order_list .item_info {
  height: 80px;
  margin-right: 20px;
  text-align: start;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 150px;
}

.order_list .item_info .item_title {
  margin-top: 49px;
}

.order_list .item_info .item_subtitle {
  padding-top: 4px;
  text-align: start;
  font-size: 14px;
}

.order_list .price {
  margin-top: 61px;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #27214D;
}

.footer {
  display: inline-block;
  vertical-align: top;
  margin: 237px 25px 61px 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer h3 {
  display: inline-block;
  font-size: 24px;
  color: #27214D;
}

.btn_checkout {
  color: white;
  background-color: #FFA451;
  border: none;
  width: 199px;
  height: 56px;
  border-radius: 10px;
  text-align: center;
  background-color: #FFA451;
  text-align: center;
  margin-top: 237px;
}

/*COMPLETE_DETAILS*/
.address {
  width: 100%;
  height: 406px;
  border-radius: 20px;
  padding-top: 40px;
}

.address .address_info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #27214D;
  margin: 0px 225px 29px 24px;
}

.address .input_default {
  background-color: #F3F1F1;
  border: none;
  width: 303px;
  height: 56px;
  border-radius: 10px;
  padding-left: 24px;
  margin: 24px 0;
}

.address .btn_payment_delivery {
  border: 2px solid;
  width: 125px;
  height: 56px;
  margin-left: 24px;
  margin-right: 80px;
  border-color: #FFA451;
  color: #FFA451;
  border-radius: 15px;
  background-color: white;
}

.address .btn_payment_card {
  border: 2px solid;
  width: 125px;
  height: 56px;
  border-color: #FFA451;
  color: #FFA451;
  border-radius: 15px;
  background-color: white;
}

/*ORDER_COMPLETE*/
.outside_circle {
  width: 164px;
  height: 164px;
  border: 3px solid;
  background-color: #E0FFE5;
  border-color: #4CD964;
  border-radius: 50%;
  margin: 154px 0 56px 98px;
}

.outside_circle .check_circle {
  background-color: #4CD964;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 32px;
}

.outside_circle .check_circle .check {
  padding: 32px;
}

.congratulations {
  font-family: "Josefin Sans", sans-serif;
  color: #27214D;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.congratulations_subtitle {
  font-family: "Josefin Sans", sans-serif;
  color: #27214D;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 0 72px 62px 56px;
  line-height: 25px;
}

.btn_track_order {
  color: white;
  background-color: #FFA451;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 121px;
  margin-bottom: 48px;
  border: none;
  width: 133px;
  height: 56px;
  border-radius: 10px;
  background-color: #FFA451;
}

.btn_continue_shopping {
  border: 2px solid;
  width: 181px;
  height: 56px;
  border-color: #FFA451;
  margin-left: 98px;
  color: #FFA451;
  border-radius: 15px;
  background-color: white;
}

.payment {
  width: 100%;
  height: 406px;
  border-radius: 20px;
  padding-top: 40px;
}

.payment .payment_info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #27214D;
  margin: 0px 0 29px 24px;
  display: inline-block;
}

.payment .payment_info .input_default {
  background-color: #F3F1F1;
  border: none;
  width: 303px;
  height: 56px;
  border-radius: 10px;
  padding-left: 24px;
  margin: 24px 0;
}

.payment .payment_info .input_date {
  display: inline-block;
  margin-right: 27px;
}

.payment .payment_info .input_cvv {
  display: inline-block;
}

.payment .payment_info .input_short {
  background-color: #F3F1F1;
  border: none;
  width: 114px;
  height: 56px;
  border-radius: 10px;
  padding-left: 24px;
  display: inline-block;
  margin-top: 16px;
}

.payment .complete_order {
  width: 100%;
  height: 96px;
  text-align: center;
  background-color: #FFA451;
  border-radius: 20px;
}

.payment .btn_complete_order {
  border: 2px solid;
  width: 125px;
  height: 56px;
  border-color: #FFA451;
  color: #FFA451;
  border-radius: 15px;
  background-color: white;
  margin: 20px 120px 18px 120px;
}

.order_update:nth-child(2) {
  margin-top: 40px;
}

.order_update {
  margin-left: 24px;
}

.order_update .img_background {
  width: 65px;
  height: 65px;
  background-color: #F1EFF6;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
}

.order_update .img_background .check_background_md {
  background-color: #4CD964;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 12px;
}

.order_update .img_background .check_background_md .check_md {
  margin-top: 14px;
}

.order_update .img_background .order_icon {
  margin: 10px;
}

.order_update .order_status_title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-left: 21px;
  line-height: 20px;
}

.order_update .order_status_title .order_subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

.order_update .check_icon_div {
  display: inline-block;
  margin-left: 10px;
}

.order_update .check_background {
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: #4CD964;
  border-radius: 50%;
}

.order_update .check_background .check_sm_icon {
  margin-top: 8px;
}

.phone_icon_div {
  display: inline-block;
  margin-left: 10px;
}

.phone_icon_div .phone_background {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #FFA451;
  border-radius: 50%;
}

.phone_icon_div .phone_background .phone_sm_icon {
  margin-top: 10px;
}

.map {
  margin-left: 24px;
}

.dashes:nth-child(7) {
  height: 19px;
}

.dashes {
  width: 0px;
  height: 40px;
  border: 1px dashed #FFA451;
  margin-left: 56px;
}
/*# sourceMappingURL=style.css.map */